In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from bs4 import BeautifulSoup
import pandas as pd 
from urllib.parse import urljoin

In [112]:
driver = webdriver.Chrome("")
time.sleep(3)
url_base='https://www.wanted.co.kr'
url_sub='/wdlist/518/163lastpage = int(input("마지막 페이지 번호를 입력하세요."))4?country=kr&job_sort=job.recommend_order&years=-1&selected=1634&locations=seoul.songpa-gu&locations=seoul.gangnam-gu&locations=seoul.guro-gu&locations=seoul.geumcheon-gu&locations=seoul.seocho-gu'
url=url_base + url_sub
time.sleep(3)
driver.get(url)
time.sleep(3)

In [3]:
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # 스크롤 끝까지 내리기
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    # 스크롤 내린 후 페이지 로딩을 위한 시간이 필요하다면, PAUSE_SEC에 숫자 입력
    time.sleep(2)
    req=driver.page_source
    soup=BeautifulSoup(req, 'html.parser')
    soup_list=soup.find_all('li',class_='Card_Card__hfQPt')
    len(soup_list)
    
    company_element=soup.find_all('span',class_='Typography_Typography__root__xYuMs Typography_Typography__label2__BRssq Typography_Typography__weightMedium__O0Rdi JobCard_JobCard__body__company__F6XoH')
    company_list = []
    for item in company_element:
        company = item.text
        company_list.append(company)
    
    title_element=soup.find_all('p',class_ = 'Typography_Typography__root__xYuMs Typography_Typography__body1__UmyQW Typography_Typography__weightBold__e15ql JobCard_JobCard__body__position__P8R0W')
    title_list=[]
    for item in title_element:
        title= item.text
        title_list.append(title)
    
    short_add_element=soup.find_all('span',class_='Typography_Typography__root__xYuMs Typography_Typography__label2__BRssq Typography_Typography__weightMedium__O0Rdi JobCard_JobCard__body__location__hz8BQ')   
    short_add_list=[]
    career_list=[]
    for item in short_add_element:
        short_add= item.text
        short=short_add.split('·')[0]
        short_add_list.append(short)
        career= item.text
        career=short_add.split('·')[1]
        career_list.append(career)   
    
    url_element = soup.find_all('div', 'JobCard_JobCard__oZL4d')
    url_add_list=[]
    for item in url_element:
        url_add_list.append(urljoin(url_base, item.find('a')['href']))
    # 스크롤 내린 후의 페이지 높이 = new_height
    new_height = driver.execute_script("return document.body.scrollHeight")

    # 더이상 스크롤이 내려가지 않으면 스크롤 내리는 반복문 멈춤 (=last_height와 new_height 같으면 멈춤)
    if new_height == last_height:
        break
    # 스크롤 내린 후의 페이지 높이(new_height)를 현재 페이지 높이(last_height) 변수에 저장
    last_height = new_height

In [4]:
len(company_list)

225

In [5]:
len(title_list)

225

In [6]:
len(short_add_list)

225

In [7]:
len(career_list)

225

In [8]:
len(url_add_list)

225

In [9]:
driver.quit()

In [10]:
df=pd.DataFrame(company_list)
df

                      0
0             엔쓰리엔(N3N)
1                 북아이피스
2               아이스크림에듀
3                   그로들
4             엔쓰리엔(N3N)
..                  ...
220            딥브레인에이아이
221              하이퍼커넥트
222  우아한형제들(배달의민족,Tech)
223              아하앤컴퍼니
224                토스뱅크

[225 rows x 1 columns]

In [11]:
df.rename(columns={df.columns[0]: 'Company'},inplace=True)
df

                Company
0             엔쓰리엔(N3N)
1                 북아이피스
2               아이스크림에듀
3                   그로들
4             엔쓰리엔(N3N)
..                  ...
220            딥브레인에이아이
221              하이퍼커넥트
222  우아한형제들(배달의민족,Tech)
223              아하앤컴퍼니
224                토스뱅크

[225 rows x 1 columns]

In [12]:
df['제목']=(title_list)
df.tail()

                Company                         제목
220            딥브레인에이아이           [400억↑투자] 산업기능요원
221              하이퍼커넥트  Machine Learning Engineer
222  우아한형제들(배달의민족,Tech)      [Tech] 물류플랫폼실 데이터엔지니어
223              아하앤컴퍼니                아하팀 AI 엔지니어
224                토스뱅크                ML Engineer

In [13]:
df['지역']=short_add_list
df.tail()

                Company                         제목       지역
220            딥브레인에이아이           [400억↑투자] 산업기능요원  서울 강남구
221              하이퍼커넥트  Machine Learning Engineer  서울 강남구
222  우아한형제들(배달의민족,Tech)      [Tech] 물류플랫폼실 데이터엔지니어  서울 송파구
223              아하앤컴퍼니                아하팀 AI 엔지니어  서울 강남구
224                토스뱅크                ML Engineer  서울 강남구

In [14]:
df['경력']=career_list
df.tail()

                Company                         제목       지역          경력
220            딥브레인에이아이           [400억↑투자] 산업기능요원  서울 강남구           신입
221              하이퍼커넥트  Machine Learning Engineer  서울 강남구    신입-경력 20년
222  우아한형제들(배달의민족,Tech)      [Tech] 물류플랫폼실 데이터엔지니어  서울 송파구     경력 7-30년
223              아하앤컴퍼니                아하팀 AI 엔지니어  서울 강남구      경력 1-5년
224                토스뱅크                ML Engineer  서울 강남구     경력 2-20년

In [15]:
df['URL']=url_add_list
df.tail()

,Company,제목,지역,경력,URL
220,딥브레인에이아이,[400억↑투자] 산업기능요원,서울 강남구,신입,https://www.wanted.co.kr/wd/216825
221,하이퍼커넥트,Machine Learning Engineer,서울 강남구,신입-경력 20년,https://www.wanted.co.kr/wd/197383
222,"우아한형제들(배달의민족,Tech)",[Tech] 물류플랫폼실 데이터엔지니어,서울 송파구,경력 7-30년,https://www.wanted.co.kr/wd/208975
223,아하앤컴퍼니,아하팀 AI 엔지니어,서울 강남구,경력 1-5년,https://www.wanted.co.kr/wd/172348
224,토스뱅크,ML Engineer,서울 강남구,경력 2-20년,https://www.wanted.co.kr/wd/203912

In [16]:
df.rename(columns={df.columns[0]:'Company',
                   df.columns[1]: 'Title',
                   df.columns[2]: 'Location',
                   df.columns[3]: 'Career'},inplace=True)
df.tail()

,Company,Title,Location,Career,URL
220,딥브레인에이아이,[400억↑투자] 산업기능요원,서울 강남구,신입,https://www.wanted.co.kr/wd/216825
221,하이퍼커넥트,Machine Learning Engineer,서울 강남구,신입-경력 20년,https://www.wanted.co.kr/wd/197383
222,"우아한형제들(배달의민족,Tech)",[Tech] 물류플랫폼실 데이터엔지니어,서울 송파구,경력 7-30년,https://www.wanted.co.kr/wd/208975
223,아하앤컴퍼니,아하팀 AI 엔지니어,서울 강남구,경력 1-5년,https://www.wanted.co.kr/wd/172348
224,토스뱅크,ML Engineer,서울 강남구,경력 2-20년,https://www.wanted.co.kr/wd/203912

In [17]:
del df['Title']

In [18]:
df.tail()

,Company,Location,Career,URL
220,딥브레인에이아이,서울 강남구,신입,https://www.wanted.co.kr/wd/216825
221,하이퍼커넥트,서울 강남구,신입-경력 20년,https://www.wanted.co.kr/wd/197383
222,"우아한형제들(배달의민족,Tech)",서울 송파구,경력 7-30년,https://www.wanted.co.kr/wd/208975
223,아하앤컴퍼니,서울 강남구,경력 1-5년,https://www.wanted.co.kr/wd/172348
224,토스뱅크,서울 강남구,경력 2-20년,https://www.wanted.co.kr/wd/203912

In [19]:
df['Title']=title_list
df.tail()

,Company,Location,Career,URL,Title
220,딥브레인에이아이,서울 강남구,신입,https://www.wanted.co.kr/wd/216825,[400억↑투자] 산업기능요원
221,하이퍼커넥트,서울 강남구,신입-경력 20년,https://www.wanted.co.kr/wd/197383,Machine Learning Engineer
222,"우아한형제들(배달의민족,Tech)",서울 송파구,경력 7-30년,https://www.wanted.co.kr/wd/208975,[Tech] 물류플랫폼실 데이터엔지니어
223,아하앤컴퍼니,서울 강남구,경력 1-5년,https://www.wanted.co.kr/wd/172348,아하팀 AI 엔지니어
224,토스뱅크,서울 강남구,경력 2-20년,https://www.wanted.co.kr/wd/203912,ML Engineer

In [20]:
df = df.loc[:, ['Location', 'Company', 'Title', 'Career', 'URL']]
df.tail()

,Location,Company,Title,Career,URL
220,서울 강남구,딥브레인에이아이,[400억↑투자] 산업기능요원,신입,https://www.wanted.co.kr/wd/216825
221,서울 강남구,하이퍼커넥트,Machine Learning Engineer,신입-경력 20년,https://www.wanted.co.kr/wd/197383
222,서울 송파구,"우아한형제들(배달의민족,Tech)",[Tech] 물류플랫폼실 데이터엔지니어,경력 7-30년,https://www.wanted.co.kr/wd/208975
223,서울 강남구,아하앤컴퍼니,아하팀 AI 엔지니어,경력 1-5년,https://www.wanted.co.kr/wd/172348
224,서울 강남구,토스뱅크,ML Engineer,경력 2-20년,https://www.wanted.co.kr/wd/203912

In [200]:
position_list=[]
tec_tag_list=[]
tag_list=[]
dday_list=[]
address_list=[]

total_rows = len(df)

batch_size = 20

for start in range(0, total_rows, batch_size):
    driver = webdriver.Chrome("")
    end = min(start + batch_size, total_rows)
    for idx, row in df[start:end].iterrows():
        url=row['URL']
        driver.get(url)
        time.sleep(0.5)
        soup_tmp=BeautifulSoup(driver.page_source,'html.parser')
        time.sleep(0.5)

        try:
            tec_tag=driver.find_element(By.CLASS_NAME,'JobSkillTags_JobSkillTags__list__eEc2V').text.split('\n')
        except:
            tec_tag=None
        try:
            tag=driver.find_element(By.CLASS_NAME,'CompanyTags_CompanyTags__list__KgTBZ').text.split('\n')
        except:                                 
            tag=driver.find_element(By.XPATH ,'//*[@id="__next"]/main/div[1]/div/section/section/article[2]/ul').text.split('\n')
        try:
            dday=driver.find_element(By.XPATH,'//*[@id="__next"]/main/div[1]/div/section/section/article[4]/span').text
        except:
            dday=driver.find_element(By.XPATH,'//*[@id="__next"]/main/div[1]/div/section/section/article[3]/span').text

        address=driver.find_element(By.CSS_SELECTOR,'#__next > main > div.JobDetail_contentWrapper__DQDB6 > div > section > section > article.JobWorkPlace_JobWorkPlace__5fs5x > div > div > span').text

        time.sleep(0.5)

        driver.execute_script(f"window.scrollBy(0, {500});")
        time.sleep(1)
        more_inf = driver.find_element(By.XPATH,"/html/body/div[1]/main/div[1]/div/section/section/article[1]/div/button")
        more_inf.send_keys(Keys.ENTER)
        time.sleep(0.5)                                 

        position=driver.find_element(By.XPATH, '//*[@id="__next"]/main/div[1]/div/section/section/article[1]').text.split('\n')[1:]

        time.sleep(0.5)
        tec_tag_list.append(tec_tag)
        tag_list.append(tag)
        dday_list.append(dday)
        address_list.append(address)
        position_list.append(position)

        time.sleep(0.5)
        print(idx)
        time.sleep(0.5)
    driver.quit()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224

In [203]:
len(tag_list)

225

In [204]:
len(dday_list)

225

In [206]:
len(address_list)

225

In [208]:
len(position_list)

225

In [210]:
df.tail(30)

,Location,Company,Title,Career,URL
195,서울 서초구,파인더스에이아이,Computer Vision AI Engineer_Junior,경력 5-12년,https://www.wanted.co.kr/wd/218197
196,서울 강남구,앰버로드,Data Scientist,경력 2-5년,https://www.wanted.co.kr/wd/191938
197,서울 서초구,한국딥러닝주식회사,AI 엔지니어 (1년 이상),경력 1-10년,https://www.wanted.co.kr/wd/219914
198,서울 강남구,엘박스,[200억↑투자] ML Engineer (검색/추천),경력 3-10년,https://www.wanted.co.kr/wd/207141
199,서울 송파구,버즈빌(buzzvil),"[광고 추천팀]머신러닝 엔지니어 (신입 가능, 병역특례요원)",신입-경력 10년,https://www.wanted.co.kr/wd/220746
200,서울 구로구,딥바이오,Deep Learning Engineer(전문연구요원 보충역/전직 가능),신입-경력 12년,https://www.wanted.co.kr/wd/192294
201,서울 강남구,메이아이,머신러닝 연구원 (ML Researcher),신입-경력 10년,https://www.wanted.co.kr/wd/110601
202,서울 강남구,럭스로보(LUXROBO),AI개발자,신입,https://www.wanted.co.kr/wd/217131
203,서울 강남구,씨디알아이(CDRI),AI 엔지니어 (데이터 사이언티스트),신입-경력 10년,https://www.wanted.co.kr/wd/219589
204,서울 강남구,유에이치씨,AI / 딥러닝 개발자,경력 3-10년,https://www.wanted.co.kr/wd/204186
205,서울 강남구,세이지리서치,[전문연구요원 가능] Machine Learning Researcher,신입-경력 5년,https://www.wanted.co.kr/wd/208505
206,서울 서초구,프라이데이즈랩(Retentics),백엔드 개발자,경력 3-6년,https://www.wanted.co.kr/wd/198197
207,서울 서초구,번개장터,Data Scientist,경력 5-8년,https://www.wanted.co.kr/wd/216150
208,서울 강남구,휴멜로,[생성형 인공지능] Generative AI Engineer,경력 2-6년,https://www.wanted.co.kr/wd/215282
209,서울 송파구,원티드랩,리서치 엔지니어 [AI팀],경력 3-10년,https://www.wanted.co.kr/wd/213122
210,서울 서초구,틸다,ML/DL 엔지니어 [Production],신입-경력 5년,https://www.wanted.co.kr/wd/217486
211,서울 강남구,노타(Nota),AI Application Engineer (NetsPresso팀),경력 2-6년,https://www.wanted.co.kr/wd/217186
212,서울 강남구,두나무(업비트/증권플러스),MLOps Engineer,경력 3-20년,https://www.wanted.co.kr/wd/219948
213,서울 강남구,데이블(Dable),"Machine Learning Engineer(전문연 현역/보충역, 산기능 보충역)",신입,https://www.wanted.co.kr/wd/214967
214,서울 강남구,알티엠,Junior Data Scientist (다변량 시계열),경력 1-3년,https://www.wanted.co.kr/wd/203738
215,서울 강남구,엘리스,AI 엔지니어,신입-경력 10년,https://www.wanted.co.kr/wd/198065
216,서울 강남구,하나금융티아이,[하나금융융합기술원] Data Scientist,경력 5-15년,https://www.wanted.co.kr/wd/145246
217,서울 강남구,강남언니(힐링페이퍼),데이터 엔지니어,경력 3-9년,https://www.wanted.co.kr/wd/195243
218,서울 강남구,딥브레인에이아이,[400억↑투자] 딥러닝 연구원 / 엔지니어 (전문연구요원 가능),신입,https://www.wanted.co.kr/wd/19529
219,서울 강남구,클럼엘,신입 Software Engineer (Data),신입,https://www.wanted.co.kr/wd/212131
220,서울 강남구,딥브레인에이아이,[400억↑투자] 산업기능요원,신입,https://www.wanted.co.kr/wd/216825
221,서울 강남구,하이퍼커넥트,Machine Learning Engineer,신입-경력 20년,https://www.wanted.co.kr/wd/197383
222,서울 송파구,"우아한형제들(배달의민족,Tech)",[Tech] 물류플랫폼실 데이터엔지니어,경력 7-30년,https://www.wanted.co.kr/wd/208975
223,서울 강남구,아하앤컴퍼니,아하팀 AI 엔지니어,경력 1-5년,https://www.wanted.co.kr/wd/172348
224,서울 강남구,토스뱅크,ML Engineer,경력 2-20년,https://www.wanted.co.kr/wd/203912

In [212]:
df['Position']=position_list
df.tail()

,Location,Company,Title,Career,URL,Position
220,서울 강남구,딥브레인에이아이,[400억↑투자] 산업기능요원,신입,https://www.wanted.co.kr/wd/216825,"[딥브레인AI는 대화형 인공 지능 스타트업입니다. 딥러닝 영상 합성, 음성 합성, ..."
221,서울 강남구,하이퍼커넥트,Machine Learning Engineer,신입-경력 20년,https://www.wanted.co.kr/wd/197383,[하이퍼커넥트 Machine Learning Engineer (MLE) 는 사람과 ...
222,서울 송파구,"우아한형제들(배달의민족,Tech)",[Tech] 물류플랫폼실 데이터엔지니어,경력 7-30년,https://www.wanted.co.kr/wd/208975,"[물류플랫폼실은 물류에 관련된 SCM, OMS, WMS, TMS 등의 시스템을 개발..."
223,서울 강남구,아하앤컴퍼니,아하팀 AI 엔지니어,경력 1-5년,https://www.wanted.co.kr/wd/172348,"[네이버 지식인 넥스트 버전을 시작으로, 온라인 커뮤니티 시장을 혁신하고 대한민국 ..."
224,서울 강남구,토스뱅크,ML Engineer,경력 2-20년,https://www.wanted.co.kr/wd/203912,"[[합류하게 될 팀에 대해 알려드려요], , • 토스뱅크의 ML Engineer는 ..."

In [213]:
df['Tec_tag']=tec_tag_list
df.tail()

,Location,Company,Title,Career,URL,Position,Tec_tag
220,서울 강남구,딥브레인에이아이,[400억↑투자] 산업기능요원,신입,https://www.wanted.co.kr/wd/216825,"[딥브레인AI는 대화형 인공 지능 스타트업입니다. 딥러닝 영상 합성, 음성 합성, ...","[ExpressJS, MongoDB, React, JavaScript, Node.j..."
221,서울 강남구,하이퍼커넥트,Machine Learning Engineer,신입-경력 20년,https://www.wanted.co.kr/wd/197383,[하이퍼커넥트 Machine Learning Engineer (MLE) 는 사람과 ...,None
222,서울 송파구,"우아한형제들(배달의민족,Tech)",[Tech] 물류플랫폼실 데이터엔지니어,경력 7-30년,https://www.wanted.co.kr/wd/208975,"[물류플랫폼실은 물류에 관련된 SCM, OMS, WMS, TMS 등의 시스템을 개발...","[Git, Spark, Python, Scala, AWS, NoSQL, Spring..."
223,서울 강남구,아하앤컴퍼니,아하팀 AI 엔지니어,경력 1-5년,https://www.wanted.co.kr/wd/172348,"[네이버 지식인 넥스트 버전을 시작으로, 온라인 커뮤니티 시장을 혁신하고 대한민국 ...","[Git, Github, Android, iOS, Linux, React, Kotl..."
224,서울 강남구,토스뱅크,ML Engineer,경력 2-20년,https://www.wanted.co.kr/wd/203912,"[[합류하게 될 팀에 대해 알려드려요], , • 토스뱅크의 ML Engineer는 ...","[Django, Flask, Python, Shell, CISSP, Powershell]"

In [214]:
df['Tag']=tag_list
df.tail()

,Location,Company,Title,Career,URL,Position,Tec_tag,Tag
220,서울 강남구,딥브레인에이아이,[400억↑투자] 산업기능요원,신입,https://www.wanted.co.kr/wd/216825,"[딥브레인AI는 대화형 인공 지능 스타트업입니다. 딥러닝 영상 합성, 음성 합성, ...","[ExpressJS, MongoDB, React, JavaScript, Node.j...","[의료비지원, 자기계발지원, 유망산업, 커피·스낵바, 전문연구요원, 산업기능요원, ..."
221,서울 강남구,하이퍼커넥트,Machine Learning Engineer,신입-경력 20년,https://www.wanted.co.kr/wd/197383,[하이퍼커넥트 Machine Learning Engineer (MLE) 는 사람과 ...,None,"[전문연구요원, 산업기능요원, 유망산업, 재택근무, 커피·스낵바, 자기계발지원, 건..."
222,서울 송파구,"우아한형제들(배달의민족,Tech)",[Tech] 물류플랫폼실 데이터엔지니어,경력 7-30년,https://www.wanted.co.kr/wd/208975,"[물류플랫폼실은 물류에 관련된 SCM, OMS, WMS, TMS 등의 시스템을 개발...","[Git, Spark, Python, Scala, AWS, NoSQL, Spring...","[유연근무, 보너스, 어린이돌봄, 단체보험, 복지포인트, 장비지원, 대출지원, 연봉..."
223,서울 강남구,아하앤컴퍼니,아하팀 AI 엔지니어,경력 1-5년,https://www.wanted.co.kr/wd/172348,"[네이버 지식인 넥스트 버전을 시작으로, 온라인 커뮤니티 시장을 혁신하고 대한민국 ...","[Git, Github, Android, iOS, Linux, React, Kotl...","[식대지원, 유급휴가, 건강검진지원, 유망산업, 설립4~9년, 50명이하]"
224,서울 강남구,토스뱅크,ML Engineer,경력 2-20년,https://www.wanted.co.kr/wd/203912,"[[합류하게 될 팀에 대해 알려드려요], , • 토스뱅크의 ML Engineer는 ...","[Django, Flask, Python, Shell, CISSP, Powershell]","[통신비, 단체보험, 보너스, 커피·스낵바, 재택근무, 편의시설, 대출지원, 유급휴..."

In [215]:
df['Dday']=dday_list
df.tail()

,Location,Company,Title,Career,URL,Position,Tec_tag,Tag,Dday
220,서울 강남구,딥브레인에이아이,[400억↑투자] 산업기능요원,신입,https://www.wanted.co.kr/wd/216825,"[딥브레인AI는 대화형 인공 지능 스타트업입니다. 딥러닝 영상 합성, 음성 합성, ...","[ExpressJS, MongoDB, React, JavaScript, Node.j...","[의료비지원, 자기계발지원, 유망산업, 커피·스낵바, 전문연구요원, 산업기능요원, ...",상시채용
221,서울 강남구,하이퍼커넥트,Machine Learning Engineer,신입-경력 20년,https://www.wanted.co.kr/wd/197383,[하이퍼커넥트 Machine Learning Engineer (MLE) 는 사람과 ...,None,"[전문연구요원, 산업기능요원, 유망산업, 재택근무, 커피·스낵바, 자기계발지원, 건...",상시채용
222,서울 송파구,"우아한형제들(배달의민족,Tech)",[Tech] 물류플랫폼실 데이터엔지니어,경력 7-30년,https://www.wanted.co.kr/wd/208975,"[물류플랫폼실은 물류에 관련된 SCM, OMS, WMS, TMS 등의 시스템을 개발...","[Git, Spark, Python, Scala, AWS, NoSQL, Spring...","[유연근무, 보너스, 어린이돌봄, 단체보험, 복지포인트, 장비지원, 대출지원, 연봉...",상시채용
223,서울 강남구,아하앤컴퍼니,아하팀 AI 엔지니어,경력 1-5년,https://www.wanted.co.kr/wd/172348,"[네이버 지식인 넥스트 버전을 시작으로, 온라인 커뮤니티 시장을 혁신하고 대한민국 ...","[Git, Github, Android, iOS, Linux, React, Kotl...","[식대지원, 유급휴가, 건강검진지원, 유망산업, 설립4~9년, 50명이하]",상시채용
224,서울 강남구,토스뱅크,ML Engineer,경력 2-20년,https://www.wanted.co.kr/wd/203912,"[[합류하게 될 팀에 대해 알려드려요], , • 토스뱅크의 ML Engineer는 ...","[Django, Flask, Python, Shell, CISSP, Powershell]","[통신비, 단체보험, 보너스, 커피·스낵바, 재택근무, 편의시설, 대출지원, 유급휴...",상시채용

In [216]:
df['Address']=address_list
df.tail()

,Location,Company,Title,Career,URL,Position,Tec_tag,Tag,Dday,Address
220,서울 강남구,딥브레인에이아이,[400억↑투자] 산업기능요원,신입,https://www.wanted.co.kr/wd/216825,"[딥브레인AI는 대화형 인공 지능 스타트업입니다. 딥러닝 영상 합성, 음성 합성, ...","[ExpressJS, MongoDB, React, JavaScript, Node.j...","[의료비지원, 자기계발지원, 유망산업, 커피·스낵바, 전문연구요원, 산업기능요원, ...",상시채용,서울특별시 강남구 역삼로 7길 6
221,서울 강남구,하이퍼커넥트,Machine Learning Engineer,신입-경력 20년,https://www.wanted.co.kr/wd/197383,[하이퍼커넥트 Machine Learning Engineer (MLE) 는 사람과 ...,None,"[전문연구요원, 산업기능요원, 유망산업, 재택근무, 커피·스낵바, 자기계발지원, 건...",상시채용,강남구 영동대로 517 아셈타워
222,서울 송파구,"우아한형제들(배달의민족,Tech)",[Tech] 물류플랫폼실 데이터엔지니어,경력 7-30년,https://www.wanted.co.kr/wd/208975,"[물류플랫폼실은 물류에 관련된 SCM, OMS, WMS, TMS 등의 시스템을 개발...","[Git, Spark, Python, Scala, AWS, NoSQL, Spring...","[유연근무, 보너스, 어린이돌봄, 단체보험, 복지포인트, 장비지원, 대출지원, 연봉...",상시채용,서울시 송파구 올림픽로 295 삼성생명빌딩
223,서울 강남구,아하앤컴퍼니,아하팀 AI 엔지니어,경력 1-5년,https://www.wanted.co.kr/wd/172348,"[네이버 지식인 넥스트 버전을 시작으로, 온라인 커뮤니티 시장을 혁신하고 대한민국 ...","[Git, Github, Android, iOS, Linux, React, Kotl...","[식대지원, 유급휴가, 건강검진지원, 유망산업, 설립4~9년, 50명이하]",상시채용,"서울특별시 강남구 테헤란로 79길 6, 4층 (제이에스타워)"
224,서울 강남구,토스뱅크,ML Engineer,경력 2-20년,https://www.wanted.co.kr/wd/203912,"[[합류하게 될 팀에 대해 알려드려요], , • 토스뱅크의 ML Engineer는 ...","[Django, Flask, Python, Shell, CISSP, Powershell]","[통신비, 단체보험, 보너스, 커피·스낵바, 재택근무, 편의시설, 대출지원, 유급휴...",상시채용,서울특별시 강남구 테헤란로 131

In [218]:
df.head()

,Location,Company,Title,Career,URL,Position,Tec_tag,Tag,Dday,Address
0,서울 강남구,엔쓰리엔(N3N),Deep Learning Engineer (Vision 연구/개발),경력 1-5년,https://www.wanted.co.kr/wd/221071,"[• 엔쓰리엔에서 AI Service를 위한 Vision 개발자를 모십니다., 주요...","[Pytorch, Python, OpenCV]","[자유로운휴가, 유망산업, 커피·스낵바, 건강검진지원, 장비지원, 식대지원, 유연근...",상시채용,강남구 강남대로162길 41-18
1,서울 서초구,북아이피스,머신러닝 엔지니어 (ML),경력 3-5년,https://www.wanted.co.kr/wd/195583,"[[회사 소개], 교육 콘텐츠, 더 잘 쓰이게 - 저작권 라이선싱에서 저작물 이용거...","[Github, React, HTML, JavaScript, TypeScript, ...","[커피·스낵바, 재택근무, 유연근무, 식대지원, 자기계발지원, 건강검진지원, 유망산...",상시채용,"서울 서초구 법원로4길 11-6, 2층 (주)북아이피스"
2,서울 강남구,아이스크림에듀,머신러닝 엔지니어,경력 2-5년,https://www.wanted.co.kr/wd/198855,"[대한민국 에듀테크 업계를 선도하고 있는 기업, 아이스크림에듀와 함께 할 인재를 찾...","[Pytorch, Tensorflow]","[유연근무, 워크샵, 복지포인트, 보너스, 연봉상위11~20%, 301~1,000명]",상시채용,서울시 강남구 테헤란로 88길 15 (대치동 944-23)
3,서울 강남구,그로들,AI 개발자 (4~8년),경력 4-8년,https://www.wanted.co.kr/wd/220789,"[[회사 소개], 그로들은 눈부시게 발전하는 AI 기술을 활용하여, 이커머스 시장에...","[Git, Linux, Pytorch, Tensorflow, Python, UNIX...","[설립3년이하, 식대지원, 건강검진지원, 커피·스낵바, 자기계발지원, 50명이하]",2024.06.14,"서울특별시 강남구 테헤란로 20길 9(동궁빌딩), 12층"
4,서울 강남구,엔쓰리엔(N3N),Deep Learning Engineer (음성 합성 TTS 연구/개발),경력 1-5년,https://www.wanted.co.kr/wd/221087,[• 엔쓰리엔에서 AI Service를 위한 TTS AI Engineer를 모십니다...,"[Git, Pytorch, Tensorflow, Python]","[자유로운휴가, 유망산업, 커피·스낵바, 건강검진지원, 장비지원, 식대지원, 유연근...",상시채용,강남구 강남대로162길 41-18

In [251]:
df['Location'] = df['Location'].str.split('서울 ').str[-1]
df

,Location,Company,Title,Career,URL,Position,Tec_tag,Tag,Dday,Address
0,강남구,엔쓰리엔(N3N),Deep Learning Engineer (Vision 연구/개발),경력 1-5년,https://www.wanted.co.kr/wd/221071,"[• 엔쓰리엔에서 AI Service를 위한 Vision 개발자를 모십니다., 주요...","[Pytorch, Python, OpenCV]","[자유로운휴가, 유망산업, 커피·스낵바, 건강검진지원, 장비지원, 식대지원, 유연근...",상시채용,강남구 강남대로162길 41-18
1,서초구,북아이피스,머신러닝 엔지니어 (ML),경력 3-5년,https://www.wanted.co.kr/wd/195583,"[[회사 소개], 교육 콘텐츠, 더 잘 쓰이게 - 저작권 라이선싱에서 저작물 이용거...","[Github, React, HTML, JavaScript, TypeScript, ...","[커피·스낵바, 재택근무, 유연근무, 식대지원, 자기계발지원, 건강검진지원, 유망산...",상시채용,"서울 서초구 법원로4길 11-6, 2층 (주)북아이피스"
2,강남구,아이스크림에듀,머신러닝 엔지니어,경력 2-5년,https://www.wanted.co.kr/wd/198855,"[대한민국 에듀테크 업계를 선도하고 있는 기업, 아이스크림에듀와 함께 할 인재를 찾...","[Pytorch, Tensorflow]","[유연근무, 워크샵, 복지포인트, 보너스, 연봉상위11~20%, 301~1,000명]",상시채용,서울시 강남구 테헤란로 88길 15 (대치동 944-23)
3,강남구,그로들,AI 개발자 (4~8년),경력 4-8년,https://www.wanted.co.kr/wd/220789,"[[회사 소개], 그로들은 눈부시게 발전하는 AI 기술을 활용하여, 이커머스 시장에...","[Git, Linux, Pytorch, Tensorflow, Python, UNIX...","[설립3년이하, 식대지원, 건강검진지원, 커피·스낵바, 자기계발지원, 50명이하]",2024.06.14,"서울특별시 강남구 테헤란로 20길 9(동궁빌딩), 12층"
4,강남구,엔쓰리엔(N3N),Deep Learning Engineer (음성 합성 TTS 연구/개발),경력 1-5년,https://www.wanted.co.kr/wd/221087,[• 엔쓰리엔에서 AI Service를 위한 TTS AI Engineer를 모십니다...,"[Git, Pytorch, Tensorflow, Python]","[자유로운휴가, 유망산업, 커피·스낵바, 건강검진지원, 장비지원, 식대지원, 유연근...",상시채용,강남구 강남대로162길 41-18
...,...,...,...,...,...,...,...,...,...,...
220,강남구,딥브레인에이아이,[400억↑투자] 산업기능요원,신입,https://www.wanted.co.kr/wd/216825,"[딥브레인AI는 대화형 인공 지능 스타트업입니다. 딥러닝 영상 합성, 음성 합성, ...","[ExpressJS, MongoDB, React, JavaScript, Node.j...","[의료비지원, 자기계발지원, 유망산업, 커피·스낵바, 전문연구요원, 산업기능요원, ...",상시채용,서울특별시 강남구 역삼로 7길 6
221,강남구,하이퍼커넥트,Machine Learning Engineer,신입-경력 20년,https://www.wanted.co.kr/wd/197383,[하이퍼커넥트 Machine Learning Engineer (MLE) 는 사람과 ...,None,"[전문연구요원, 산업기능요원, 유망산업, 재택근무, 커피·스낵바, 자기계발지원, 건...",상시채용,강남구 영동대로 517 아셈타워
222,송파구,"우아한형제들(배달의민족,Tech)",[Tech] 물류플랫폼실 데이터엔지니어,경력 7-30년,https://www.wanted.co.kr/wd/208975,"[물류플랫폼실은 물류에 관련된 SCM, OMS, WMS, TMS 등의 시스템을 개발...","[Git, Spark, Python, Scala, AWS, NoSQL, Spring...","[유연근무, 보너스, 어린이돌봄, 단체보험, 복지포인트, 장비지원, 대출지원, 연봉...",상시채용,서울시 송파구 올림픽로 295 삼성생명빌딩
223,강남구,아하앤컴퍼니,아하팀 AI 엔지니어,경력 1-5년,https://www.wanted.co.kr/wd/172348,"[네이버 지식인 넥스트 버전을 시작으로, 온라인 커뮤니티 시장을 혁신하고 대한민국 ...","[Git, Github, Android, iOS, Linux, React, Kotl...","[식대지원, 유급휴가, 건강검진지원, 유망산업, 설립4~9년, 50명이하]",상시채용,"서울특별시 강남구 테헤란로 79길 6, 4층 (제이에스타워)"
224,강남구,토스뱅크,ML Engineer,경력 2-20년,https://www.wanted.co.kr/wd/203912,"[[합류하게 될 팀에 대해 알려드려요], , • 토스뱅크의 ML Engineer는 ...","[Django, Flask, Python, Shell, CISSP, Powershell]","[통신비, 단체보험, 보너스, 커피·스낵바, 재택근무, 편의시설, 대출지원, 유급휴...",상시채용,서울특별시 강남구 테헤란로 131

In [252]:
df.rename(columns={df.columns[6]: 'Skill',
                   df.columns[5]: 'InfoDetails',
                   df.columns[8]: 'D_Day'
                  },inplace=True)

In [253]:
df

,Location,Company,Title,Career,URL,InfoDetails,Skill,Tag,D_Day,Address
0,강남구,엔쓰리엔(N3N),Deep Learning Engineer (Vision 연구/개발),경력 1-5년,https://www.wanted.co.kr/wd/221071,"[• 엔쓰리엔에서 AI Service를 위한 Vision 개발자를 모십니다., 주요...","[Pytorch, Python, OpenCV]","[자유로운휴가, 유망산업, 커피·스낵바, 건강검진지원, 장비지원, 식대지원, 유연근...",상시채용,강남구 강남대로162길 41-18
1,서초구,북아이피스,머신러닝 엔지니어 (ML),경력 3-5년,https://www.wanted.co.kr/wd/195583,"[[회사 소개], 교육 콘텐츠, 더 잘 쓰이게 - 저작권 라이선싱에서 저작물 이용거...","[Github, React, HTML, JavaScript, TypeScript, ...","[커피·스낵바, 재택근무, 유연근무, 식대지원, 자기계발지원, 건강검진지원, 유망산...",상시채용,"서울 서초구 법원로4길 11-6, 2층 (주)북아이피스"
2,강남구,아이스크림에듀,머신러닝 엔지니어,경력 2-5년,https://www.wanted.co.kr/wd/198855,"[대한민국 에듀테크 업계를 선도하고 있는 기업, 아이스크림에듀와 함께 할 인재를 찾...","[Pytorch, Tensorflow]","[유연근무, 워크샵, 복지포인트, 보너스, 연봉상위11~20%, 301~1,000명]",상시채용,서울시 강남구 테헤란로 88길 15 (대치동 944-23)
3,강남구,그로들,AI 개발자 (4~8년),경력 4-8년,https://www.wanted.co.kr/wd/220789,"[[회사 소개], 그로들은 눈부시게 발전하는 AI 기술을 활용하여, 이커머스 시장에...","[Git, Linux, Pytorch, Tensorflow, Python, UNIX...","[설립3년이하, 식대지원, 건강검진지원, 커피·스낵바, 자기계발지원, 50명이하]",2024.06.14,"서울특별시 강남구 테헤란로 20길 9(동궁빌딩), 12층"
4,강남구,엔쓰리엔(N3N),Deep Learning Engineer (음성 합성 TTS 연구/개발),경력 1-5년,https://www.wanted.co.kr/wd/221087,[• 엔쓰리엔에서 AI Service를 위한 TTS AI Engineer를 모십니다...,"[Git, Pytorch, Tensorflow, Python]","[자유로운휴가, 유망산업, 커피·스낵바, 건강검진지원, 장비지원, 식대지원, 유연근...",상시채용,강남구 강남대로162길 41-18
...,...,...,...,...,...,...,...,...,...,...
220,강남구,딥브레인에이아이,[400억↑투자] 산업기능요원,신입,https://www.wanted.co.kr/wd/216825,"[딥브레인AI는 대화형 인공 지능 스타트업입니다. 딥러닝 영상 합성, 음성 합성, ...","[ExpressJS, MongoDB, React, JavaScript, Node.j...","[의료비지원, 자기계발지원, 유망산업, 커피·스낵바, 전문연구요원, 산업기능요원, ...",상시채용,서울특별시 강남구 역삼로 7길 6
221,강남구,하이퍼커넥트,Machine Learning Engineer,신입-경력 20년,https://www.wanted.co.kr/wd/197383,[하이퍼커넥트 Machine Learning Engineer (MLE) 는 사람과 ...,None,"[전문연구요원, 산업기능요원, 유망산업, 재택근무, 커피·스낵바, 자기계발지원, 건...",상시채용,강남구 영동대로 517 아셈타워
222,송파구,"우아한형제들(배달의민족,Tech)",[Tech] 물류플랫폼실 데이터엔지니어,경력 7-30년,https://www.wanted.co.kr/wd/208975,"[물류플랫폼실은 물류에 관련된 SCM, OMS, WMS, TMS 등의 시스템을 개발...","[Git, Spark, Python, Scala, AWS, NoSQL, Spring...","[유연근무, 보너스, 어린이돌봄, 단체보험, 복지포인트, 장비지원, 대출지원, 연봉...",상시채용,서울시 송파구 올림픽로 295 삼성생명빌딩
223,강남구,아하앤컴퍼니,아하팀 AI 엔지니어,경력 1-5년,https://www.wanted.co.kr/wd/172348,"[네이버 지식인 넥스트 버전을 시작으로, 온라인 커뮤니티 시장을 혁신하고 대한민국 ...","[Git, Github, Android, iOS, Linux, React, Kotl...","[식대지원, 유급휴가, 건강검진지원, 유망산업, 설립4~9년, 50명이하]",상시채용,"서울특별시 강남구 테헤란로 79길 6, 4층 (제이에스타워)"
224,강남구,토스뱅크,ML Engineer,경력 2-20년,https://www.wanted.co.kr/wd/203912,"[[합류하게 될 팀에 대해 알려드려요], , • 토스뱅크의 ML Engineer는 ...","[Django, Flask, Python, Shell, CISSP, Powershell]","[통신비, 단체보험, 보너스, 커피·스낵바, 재택근무, 편의시설, 대출지원, 유급휴...",상시채용,서울특별시 강남구 테헤란로 131

In [254]:
df = df.loc[:, ['Location', 'Company', 'Title', 'Career', 'Skill','Address','URL','InfoDetails','Tag','D_Day']]
df.tail()

,Location,Company,Title,Career,Skill,Address,URL,InfoDetails,Tag,D_Day
220,강남구,딥브레인에이아이,[400억↑투자] 산업기능요원,신입,"[ExpressJS, MongoDB, React, JavaScript, Node.j...",서울특별시 강남구 역삼로 7길 6,https://www.wanted.co.kr/wd/216825,"[딥브레인AI는 대화형 인공 지능 스타트업입니다. 딥러닝 영상 합성, 음성 합성, ...","[의료비지원, 자기계발지원, 유망산업, 커피·스낵바, 전문연구요원, 산업기능요원, ...",상시채용
221,강남구,하이퍼커넥트,Machine Learning Engineer,신입-경력 20년,None,강남구 영동대로 517 아셈타워,https://www.wanted.co.kr/wd/197383,[하이퍼커넥트 Machine Learning Engineer (MLE) 는 사람과 ...,"[전문연구요원, 산업기능요원, 유망산업, 재택근무, 커피·스낵바, 자기계발지원, 건...",상시채용
222,송파구,"우아한형제들(배달의민족,Tech)",[Tech] 물류플랫폼실 데이터엔지니어,경력 7-30년,"[Git, Spark, Python, Scala, AWS, NoSQL, Spring...",서울시 송파구 올림픽로 295 삼성생명빌딩,https://www.wanted.co.kr/wd/208975,"[물류플랫폼실은 물류에 관련된 SCM, OMS, WMS, TMS 등의 시스템을 개발...","[유연근무, 보너스, 어린이돌봄, 단체보험, 복지포인트, 장비지원, 대출지원, 연봉...",상시채용
223,강남구,아하앤컴퍼니,아하팀 AI 엔지니어,경력 1-5년,"[Git, Github, Android, iOS, Linux, React, Kotl...","서울특별시 강남구 테헤란로 79길 6, 4층 (제이에스타워)",https://www.wanted.co.kr/wd/172348,"[네이버 지식인 넥스트 버전을 시작으로, 온라인 커뮤니티 시장을 혁신하고 대한민국 ...","[식대지원, 유급휴가, 건강검진지원, 유망산업, 설립4~9년, 50명이하]",상시채용
224,강남구,토스뱅크,ML Engineer,경력 2-20년,"[Django, Flask, Python, Shell, CISSP, Powershell]",서울특별시 강남구 테헤란로 131,https://www.wanted.co.kr/wd/203912,"[[합류하게 될 팀에 대해 알려드려요], , • 토스뱅크의 ML Engineer는 ...","[통신비, 단체보험, 보너스, 커피·스낵바, 재택근무, 편의시설, 대출지원, 유급휴...",상시채용

In [257]:
df.to_csv("./data/AICC_Project_wanted_namgyu3.csv", sep=",", encoding="cp949", index=False, errors='replace')